<% unless current_user.admin? %>
<div class="backlink-container">
  <div class="back">
    <%= link_to '&larr; Back to repositories'.html_safe, repositories_path, class: "back-link" %>
  </div>
  <% unless controller.action_name == 'show' %>
  <div class="cancel">
    <%= link_to 'Cancel'.html_safe, repositories_path, class: "cancel-link" %>
  </div>
  <% end %>
</div>
<%= render "shared/separator" %>
<% end %>
