<%= render "backlink" %>
<div id="key-edit-view">
  <h1>New Key</h1>
  <%= render 'key_form' %>
  <br /><br />
  <%= link_to '&larr; Back to settings'.html_safe, settings_path, class: 'back-link' %>
</div>
